.findpwwrapper{
    width: 100%;
    min-height: calc(100vh - 104px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFAEA;
    
}

.findpw{
    width: 90%;
    padding: 0px 30%;
    box-sizing: border-box;
}

.findpwheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;
    font-size: 24px;
    color: white;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.findpwheader > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    cursor: pointer;
}

.findpwheader > div:last-child{
    background : linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    color: white;
}

.findpwheader > div:first-child{
    border-radius: 16px 0px 0px 0px;
    background-color: #F5F5F5;
    color: black;
    font-weight: 300;
}

.findpwheader > img{
    width: 16px;
    height: 16px;
    position: absolute;
    top : 24px;
    right: 45px;
    opacity: 0.6;
    cursor: pointer;
}

.findpwcontent{
    background-color: #FFFEFB;
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    border-radius: 0px 0px 16px 16px;
}

@media(max-width : 768px){
    .findpwheader{
        height: 48px;
        font-size: 14px;
    }

    .findpwheader > div{
        height: 48px;

    }
    .findidform > p{
        font-size: 14px;
    }

    .findidform > input{
        height: 32px;
    }

    .findidform > button{
        height: 36px;
    }

}

@media(max-width : 426px){
    .findpwwrapper{
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }
    .findpw{
        width: 100%;
        padding: 0px;

    }
    .findpwheader{
        border-radius: 0px;
    }

    .findpwheader > div{
        border-radius: 0px !important;
    }
    .findpwcontent{
        border-radius: 0px;
    }
}





