.findidwrapper{
    width: 100%;
    min-height: calc(100vh - 104px);
    background-color: #FEFAEA;
    position: relative;
    
}

.findid{
    width: 90%;
    padding: 0px 30%;
    box-sizing: border-box;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.findidheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;
    background : linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    font-size: 24px;
    color: white;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}


.findidheader > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    cursor: pointer;
}

.findidheader > div:last-child{
    border-radius: 0px 16px 0px 0px;
    background-color: #F5F5F5;
    color: black;
    font-weight: 300;
}


.findidform{
    width: 100%;
}

.findidform > p{
    color: black;
    margin-bottom: 6px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
}

.findidform > input{
    width: 100%;
    height: 50px;
    margin-bottom: 12px;
    padding-left: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #D9D9D9;
}

.findidform > input:focus{
    outline: none;
}

.findidform > button{
    display: block;
    width: 100%;
    height: 48px;
    background: inherit; 
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    border:none; 
    box-shadow:none; 
    border-radius: 8px; 
    cursor:pointer;
    margin-top: 24px;
    color: white;
}

.findidcontent{
    background-color: #FFFEFB;
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    border-radius: 0px 0px 16px 16px;
}

.findpwheader > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    cursor: pointer;
}

.findpwheader > div:last-child{
    border-radius: 0px 16px 0px 0px;
    background-color: #F5F5F5;
    color: black;
    font-weight: 300;
}

@media(max-width : 768px){
    .findidheader{
        height: 48px;
        font-size: 14px;
    }

    .findid{
        top: 44%;
    }

    .findidheader > div{
        height: 48px;

    }
    .findidform > p{
        font-size: 14px;
    }

    .findidform > input{
        height: 32px;
    }

    .findidform > button{
        height: 36px;
    }

}

@media(max-width : 426px){
    .findidwrapper{
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }
    .findid{
        width: 100%;
        padding: 0px;

    }
    .findidheader{
        border-radius: 0px;
    }

    .findidheader > div{
        border-radius: 0px !important;
    }
    .findidcontent{
        border-radius: 0px;
    }
}





