.GGMap_Horizontal_Container
{
    display: flex;
}
.GGMap_Vertical_Container
{
    display: flex;
    flex-direction: column;
}

.GGMap_MainContainer
{
    width: 100%;
    height: 100%;

    padding: 12px 0px 0px 12px;
}
.GGMap_InnerContainer
{
    width: calc(100% - 24px);
    height: calc(100% - 24px);

    border-radius: 12px;

    overflow: hidden;
}

.GGMap_Left
{
    height: calc(100%) !important;

    border-radius: 12px 0px 0px 12px;
}

.GGMap_Right
{
    min-width: 350px !important;
    padding-left: 12px;
}

.GGMap_RightInner
{
    border-radius: 12px;
    height: 100%;

    padding: 12px;
    box-sizing: border-box;
    background-color: #FFFEFB;

    gap:12px;
    overflow-y: scroll;
    justify-content: space-between;
}

.GGMap_PinStoreNameText
{
    font-size: 18px;
    padding-top: -24px;
    position: absolute;
    margin-top: -34px;
    
    font-weight: 400;
}

.GGMap_PinReview
{
    color: #415ac9;
    cursor: pointer;
    
    margin-top: 12px;
    font-size: 15px;
    FONT-WEIGHT: 400;
}


.GGMap_addrListContainer
{
    background-color: #FFFEFB;
}

.GGMap_addrList_Closed
{
    flex-direction: column;
}

.GGMap_addrBox,
.GGMap_addrNameText,
.GGMap_addrDetailText
{
    transform-origin: top;

    transition: 
        opacity 0.2s ease,
        max-height 0.2s ease,
        padding 0.2s ease,
        border-width 0.2s ease;
}

.GGMap_addrList_Closed .GGMap_addrBox,
.GGMap_addrList_Closed .GGMap_addrNameText,
.GGMap_addrList_Closed .GGMap_addrDetailText
{
    pointer-events: none;

    opacity: 0;
    padding: 0px;
    max-height: 0;

    border-width: 0px;
}

.GGMap_RightDDBtn
{
    border: 1px solid #FFEDD4;
    border-radius: 0px 0px 12px 12px;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    
    color : #7C290C;
    background-color: #FEFAEA;

    transition: all 0.2s ease;
}
.GGMap_RightDDBtn:hover{
    background-color: #FFF7ED;
    border: 2px solid #FFBD75;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);

    padding-top: 6px;

    color : #F54A00;
}

.GGMap_RightDDBtn:hover:not(.GGMap_RightDDBtn_Closed)
{
    padding-bottom: 6px;
    padding-top: 0px;
}

.GGMap_RightDDBtn::after
{
    content:"▲ 다른 위치 지정 ▲";
}

.GGMap_RightDDBtn_Closed::after
{
    content:"▼ 다른 위치 지정 ▼";
}

.GGMap_addrBox
{
    border: 1px solid #FFEDD4;
    box-sizing: border-box;
    width: 100%;

    padding: 8px;
}
.GGMap_addrBox:hover
{
    background-color: #FFF7ED;
    border: 1px solid #FFBD75;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    padding: 8px;
}

.GGMap_addrBox:hover .GGMap_addrNameText::before
{
    content: "▶ ";
}

.GGMap_addrTopBox
{
    justify-content: space-between;
    align-items: center
}

.GGMap_addrNameText
{
    font-size: 16px;
    color : #7C290C;
    margin-bottom: 6px;
}

.GGMap_addrDistanceText
{
    font-size: 14px;
    color : #7C290C;
    margin-bottom: 6px;
}

.GGMap_addrDetailText
{
    font-size: 14px;
}



.GGMap_shopListContainer
{
    background-color: #FFFEFB;
}

.GGMap_OverlayView
{
    width: 80px;
    height: 40px;

    background-color: #FFFEFB;

    transform-origin: center;

    z-index: 99;
}


@media (max-width: 426px) {

    .GGMap_InnerContainer
    {
        position: relative;
    }

    .GGMap_InnerContainer .MP_Footer_Img
    {
        display: none;
    }

    .GGMap_InnerContainer .MP_FooterText_Large
    {
        font-size: 14px;
    }
    .GGMap_InnerContainer .MP_FooterText_Normal
    {
        font-size: 12px;
    }
    
    .GGMap_InnerContainer .GGMap_addrNameText
    {
        font-size: 14px;
    }
    .GGMap_InnerContainer .GGMap_addrDetailText
    {
        font-size: 12px;
    }

    .GGMap_InnerContainer
    {
        height: 85%; 
    }

    .GGMap_Right
    {
        position: absolute;
        top: 0px;
        left: 0px;

        width: 100%;
        height: 100%;
    }

    .GGMap_RightInner
    {
        background-color: transparent;
    }

    .GGMap_RightTop
    {
        position: fixed;
        box-sizing: border-box;

        bottom: 2.5%;
        left: 5%;

        max-width: 45%;
    }

    .GGMap_shopListContainer
    {
        position: fixed;
        box-sizing: border-box;

        bottom: 2.5%;
        right: 5%;
        
        max-width: 45%;
    }


    .GGMap_Right
    {
        min-width: 0px !important;

        width: 0%;
        height: 0%;
    }

    .GGMap_MobileQuitBTN
    {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 2.5%;
        right: 5%;

        width: 32px;
        height: 32px;
        background-color:white;
        color: #F54A00;
        border: 1px solid #FFEDD4;
    }

    .GGMap_RightDDBtn
    {
        position: absolute;
        bottom: 0px;
        left: 0px;
        scale: 0;
    }
    .GGMap_RightDDBtn::after
    {
        content: "";
    }

    .GGMap_RightDDBtn_Closed::after
    {
        content: "";
    }

    .GGMap_ShopAddrList_Closed .GGMap_addrBox,
    .GGMap_ShopAddrList_Closed .GGMap_addrNameText,
    .GGMap_ShopAddrList_Closed .GGMap_addrDetailText
    {
        pointer-events: none;

        opacity: 0;
        padding: 0px;
        max-height: 0;

        border-width: 0px;
    }
}