.itemlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 10px;
    background: linear-gradient(to right, #FF6B00, #FE9800);
}

.itemlist2 {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    gap: 20px;
    width: 97%;
    height: 75px;
    border-radius: 10px;
    background: transparent;

    color: #000000;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    font-size: 22px;
}

.itemlist2>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 75px;
    border-radius: 10px;
    padding-left: 20px;
    box-sizing: border-box;

}

.mlabel {
    width: 20%;
    height: 75px;
    display: flex;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    color: #000000;
    border-radius: 10px;

    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.checkbox {
    accent-color: #000000;
    width: 20px;
    height: 20px;
}

.savebutton {
    width: 90%;
    display: flex;
    justify-content: end;
}

.itemsave {
    width: 10%;
    height: 60px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 12px;
    background: linear-gradient(to right, #FF6B00, #FE9800);
    margin-top: 15px;
    margin-right: 10px;
    box-shadow: 0 4px 10px rgba(245, 74, 0, 0.6);
}

.itemcount {
    margin-left: 22px;
    margin-top: 8px;
}

.mdec{
    display: flex;
    color: #F54A00;
}

.pagination2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
    color: #ffffff;
    
}



@media (max-width: 1100px) {
    .itemlist2 {
        font-size: 15px;
    }

    .itemsave {
        width: 15%;
        height: 50px;
        font-size: 15px;
    }
}