.loginmodal{
    position: absolute;
    width: 448px;
    height: 430px;
    background-color: #FFFEFB;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    z-index: 90;
}
.login{
    display: flex;
    flex-direction: column;
    align-items : center;
}
.loginform{
    width: 100%;
}
.loginheader{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 64px;
    background : linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    font-size: 24px;
    color: white;
    border-radius: 16px 16px 0px 0px;
}

.loginheader > img{
    width: 16px;
    height: 16px;
    position: absolute;
    top : 24px;
    right: 45px;
    opacity: 0.6;
    cursor: pointer;
}

.logincontainer{
    display: flex;
    gap: 6px;
}

.logincontent{
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
}

.loginform > button{
    display: block;
    width: 100%;
    height: 48px;
    background: inherit; 
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    border:none; 
    box-shadow:none; 
    border-radius: 8px; 
    cursor:pointer;
    margin-top: 24px;
    color: white;
}

.loginform > p{
    color: black;
    margin-bottom: 6px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
}

.loginform > input{
    width: 100%;
    height: 50px;
    margin-bottom: 12px;
    padding-left: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #D9D9D9;
}
.loginform > input:focus{
    outline: none;
}
.loginsignup{
    display: flex;
    width: 100%;
    justify-content: right;
}
.loginsignup > p{
    font-size: 12px;
    cursor: pointer;
    color: #7C290C;
}

.loginline{
    width: 100%;
    border: 1px solid #D9D9D9;
    margin: 24px 0px 24px 0px;
    opacity: 0.6;
}

.notuser{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 6px;
}

.notuser > p:first-child{
    font-weight: 300;
}

.notuser > p:last-child{
    color: #FF8904;
    cursor: pointer;
}

.notuser > p:last-child > a{
    text-decoration: none;
    color: #FF8904;
}



