

.MP_main {
    background-color: #FEFAEA;
    justify-content: space-between;
    box-sizing: border-box;
    gap:33px;

    min-width: 100vw;
    min-height: calc(100vh - 104px);

    padding: 50px 50px 50px 50px;
}

.MP_HorizontalContainer {
    display: flex;
}

.MP_VerticalContainer {
    display: flex;
    flex-direction: column;
}

.MP_LargeText {
    font-size: 20px;
    line-height: 30px;
}

.MP_NormalText {
    font-size: 14px;
    line-height: 21px;
}

.MP_textColor1 {
    color:#7C290C;
}

.MP_textColor2 {
    color:#F54A00;
}

.MP_textColor3 {
    color:#FF8904;
}

.MP_MainContainers{
    flex: 1;    
    border-radius: 12px;
    background-color: #FFFEFB;
    border: 1px solid #FFEDD4;

    padding: 25px 25px 25px 25px;
    height: calc(100vh - 104px - 200px);
}

.MP_IngredientsContainer{
}

.MP_IngredientTypeList{
    overflow-y: auto;
    padding-right: 12px;
}

.MP_IngredientsTop{
    gap:15px;
    margin-bottom: 12px;
}

.MP_IngredientsTypeContainer{
}

.MP_IngredientsHead{
    align-items: center;
    gap:8px;

    margin-top: 12px;
    margin-bottom : 12px;
}

.MP_TypeHead{
    border-radius: 8px;
    border: 1px solid;

    padding: 4px 8px 4px 8px;
}

.MP_BreadTypeHead{
    background-color: #FEF3C6;
    border-color: #FEE685;
    color: #BA4D00;
}

.MP_VegetableTypeHead{
    background-color: #DBFCE7;
    border-color: #B9F8CF;
    color: #09883E;
}

.MP_CheeseTypeHead{
    background-color: #FEF9C2;
    border-color: #FFF085;
    color: #BB832E;
}

.MP_MeatTypeHead{
    background-color: #FFE4E6;
    border-color: #FFCCD3;
    color: #C60035;
}

.MP_SourceTypeHead{
    background-color: #FFEDD4;
    border-color: #FFD7A8;
    color: #CA3500;
}


.MP_IngredientList{
    display: flex;
    flex-wrap: wrap;

    gap: 12px;
    margin-bottom: 20px;
}
.MP_IngredientBox{
    align-items: center;
    flex: 1;
    border-radius: 12px;
    border: 1px solid #FFEDD4;

    height: 60px;

    position: relative;
    padding: 12px;
    box-sizing: border-box;
    
    min-width: 40%;
}
.MP_IngredientBox_empty{
    align-items: center;
    flex: 1;

    height: 60px;

    position: relative;
    padding: 12px;
    box-sizing: border-box;
    
    min-width: 40%;
}

.MP_TypeImageBox{
    width: 36px;
    height: 36px;
    
    border-radius: 12px;
    box-sizing: border-box;

    margin-right: 8px;
}

.MP_typeColor_Bread1{
    background-color: #9C8463;
    border: 2px solid #7C6340;
}

.MP_typeColor_Bread2{
    background-color: #F6E2BC;
    border: 2px solid #DCC7A1;
}

.MP_TypeTextBox{
}

.MP_TypeAddBtn{
    background-color: #FFEDD4;
    border-radius: 999px;
    color: #F6540D;

    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    right:12px;
}
.MP_TypeAddBtn_InnerText{
    position: absolute;
    top: 43%;             /* 수직 중앙 */
    transform: translateY(-50%); /* 수평 중앙 */

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight:500;
}



.MP_SandwichContainer{
}

.MP_SandwichTop{
    align-items: center;
    justify-content: space-between;
}

.MP_SandwichTopButtonBox{
    display: flex;
    gap:8px;
}

.MP_SandwichTopBUttonIconBox{
    border: 1px solid #FFEDD4;
    border-radius: 8px;

    padding: 8px;
}

.MP_SandwichTopButtonIcon{
    width: 16px;
    height: 16px;
}

.MP_SandwichMain{
    width: 100%;
    height: 100%;


}

.MP_SandwichMain_emptyDisplay{
    display: flex;
    width: 100%;
    height: 100%;
    
    align-items: center;
    justify-content: center;

    text-align: center;
    gap: 12px;
}


.MP_CartContainer{
    justify-content: space-between;
    gap: 12px;
}

.MP_CartTop{
    display: flex;
    flex-direction: column;
    
    height: calc(100% - 170px);
}

.MP_CartTopText{
    margin-bottom : 12px;
}

.MP_CartItemBox{
    background-color: #FFFEFB;
    
    border-radius: 12px;
    border: 1px solid #FFEDD4;

    padding: 12px;
}

.MP_CartItemIcon{
    width: 36px;
    height: 36px;
    
    border-radius: 12px;
    box-sizing: border-box;

    margin-right: 8px;

    background-color: #9C8463;
    border: 2px solid #7C6340;
}

.MP_CartList{
    display: flex;

    border-radius: 12px;
    border: 1px solid #FFEDD4;

    gap: 12px;

    background-color: #FEFAEA;
    padding: 12px 24px 12px 12px;
    
    flex: 1; /* 남은 공간을 전부 차지 */
    overflow-y: auto; /* 내용이 많으면 스크롤 */
}

.MP_CartItemBox{

    background-color: #FFFEFB;

    align-items: center;
    border-radius: 12px;
    border: 1px solid #FFEDD4;

    height: 60px;

    position: relative;
    padding: 12px;
    box-sizing: border-box;
    
    min-width: 40%;
}

.MP_CartItemRemove{
    background-color: #FFEDD4;
    border-radius: 8px;
    color: #F6540D;

    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    right:12px;
}
.MP_TypeAddBtn_InnerText{
    position: absolute;
    top: 43%;             /* 수직 중앙 */
    transform: translateY(-50%); /* 수평 중앙 */

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight:500;
}

.MP_CartBottom{
}

.MP_ingredient_total{
    padding: 12px;
    justify-content: space-between;
}

.MP_OrderButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 12px 0px 12px;
    color: white;

    border-radius: 12px;
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);

    height: 48px;
}





.MP_noSelect {
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
    user-select: none;         /* 표준 */
}