.loginmodal{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #FFFEFB;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    z-index: 90;
}
.login{
    display: flex;
    flex-direction: column;
    align-items : center;
}
.loginform{
    width: 100%;
}
.loginheader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 60px;
    background-color: #FF8904;
    font-size: 24px;
    color: #7C290C;
    border-radius: 16px 16px 0px 0px;
}

.logincontainer{
    display: flex;
    gap: 6px;
}

.logincontent{
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
}

.loginform > button{
    display: block;
    width: 100%;
    height: 36px;
    background: inherit; 
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    border:none; 
    box-shadow:none; 
    border-radius: 8px; 
    cursor:pointer;
    margin-top: 8px;
}

.loginform > p{
    color: #7C290C;
    margin-bottom: 3px;
    font-size: 14px;
}

.loginform > input{
    width: 100%;
    height: 24px;
    margin-bottom: 12px;
    padding-left: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    border: 1px solid #7C290C;
}
.loginsignup{
    display: flex;
    width: 100%;
    justify-content: right;
}
.loginsignup > p{
    font-size: 12px;
    cursor: pointer;
    color: #7C290C;
}



