.mmainpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEFAEA;
    width: 100%;
    
}
.mmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    border-radius: 10px;
    width: 51%;
    height: 1080px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}
.mnamespace{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.mname{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;

}
.mname2{
    display: flex;
    align-items: end;
    
    gap: 10px;
    margin-right: 5px;
}

.mname2>p{
    font-size: 18px;
}
.mlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(to right, #d65b03, #d17e02);
}
.mlist2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    height: 180px;
    border-radius: 10px;
    background-color: #E6F7F5;
    color: #000000;
    padding-top: 10px;
    padding-left: 15px;
    box-sizing: border-box;
}
.mfoot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 51%;
    height: 90px;
    background: linear-gradient(to right, #FF6B00, #FE9800);
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    
    
}
.mfoot>div>p{
    margin-left: 10px;
    font-size: 35px;
}

.mfoot>button{
    width: 20%;
    height: 90px;
    font-size: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mfoot>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mimg{
    width: 50px;
    height: 50px;
}