.orderpaywrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 100%;
    padding: 24px 15%;
    box-sizing: border-box;
    background-color: #FEFAEA;
    min-height: calc(100vh - 104px);
}

.orderpaywrapper > p{
    font-size: 24px;
    color: #7C290C;
}

.orderaddresscontainer{
    display: flex;
    gap: 24px;
}

.orderwrapper{
    width: 80%;
    height: 100%;
    background-color: #FFFEFB;
    border-radius: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.ordertitle{
    display: flex;
    justify-content: space-between;
}

.ordertitle > div{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 4px;
}

.ordertitle > div > img{
    width: 24px;
    height: 24px;
}

.ordertitle > div > p{
    font-size: 18px;
    color: black;
    font-weight: 400;
}

.ordertitle > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 24px;
    background: inherit; 
    border:none; 
    box-shadow:none; 
    border-radius: 8px;
    background-color: #FF8904;
    color: white;
}

.ordercontent{
    width: 100%;
    height: 120px;
    background-color: #F5F5F5;
    border-radius: 16px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 16px;
    position: relative;
}

.ordertrash{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
}

.ordercontent > p:first-child{
    font-size: 18px;
    font-weight: 300;

}

.ordercontent > p:nth-child(2){
    font-size: 12px;
    color: black;
    opacity: 0.4;
    margin: 12px 0px 12px 0px;
}

.orderquantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderquantity > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 36px;
    background-color: #FFFEFB;
    border-radius: 8px;
}

.orderquantity > div:last-child{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
}

.orderquantity > div:last-child > p:first-child{
    font-size: 12px;
    color: black;
    opacity: 0.4;
}

.orderquantity > div:last-child > p:last-child{
    font-size: 18px;
    color: #FF8904;
}

.quantityminus{
    position: absolute;
    left: 12px;
    font-size: 24px;
    top: auto;
    cursor: pointer;
}

.quantityplus{
    position: absolute;
    right: 12px;
    top: auto;
    cursor: pointer;
}

.orderline{
    width: 100%;
    height: 0px;
    border: 1px solid #F5F5F5;
}

.paycontainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0px 12px 0px;
}

.productprice{
    display: flex;
    justify-content: space-between;
}

.productprice > p{
    font-weight: 300;
}

.deliverprice{
    display: flex;
    justify-content: space-between;
}

.deliverprice > p:first-child{
    font-weight: 300;
}

.deliverprice > p:last-child{
    color: #FF8904;
}

.totalprice{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.totalprice > p:last-child{
    color: #FF8904;
}

.addresswrapper{
    width: 80%;
    height: 100%;
    background-color: #FFFEFB;
    border-radius: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.addresstitle{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 4px;
    margin-bottom: 18px;
}

.addresstitle > p{
    font-size: 18px;
}

.deliverinfo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.deliverinfo > p{
    font-size: 16px;
    font-weight: 300;
}

.deliverinfo > input{
    width: 100%;
    height: 36px;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid #d9d9d9;
    padding: 6px;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.delivermessage{
    background: inherit;
    background-color: #F5F5F5;
    box-shadow: none;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
}

.finalorderbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: inherit; 
    border:none; 
    box-shadow:none;
    border-radius: 8px;
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    color: white;
    margin-top: 21.5px;
    cursor: pointer;
}

