.orderpaywrapperp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 100%;
    padding: 24px 15%;
    box-sizing: border-box;
    background-color: #F1FAF4;
    min-height: calc(100vh - 104px);
}

.orderpaywrapperp > div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 8px 0px 8px;
    box-sizing: border-box;
}

.orderpaywrapperp > div:first-child > div{
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    background: linear-gradient(90deg, #00c524 0%, #3ceb5c 100%);
    color: white;
    font-size: 12px;
    cursor: pointer;
}


.orderpaywrapperp > div > p{
    font-size: 24px;
    color: green;
}

.orderaddresscontainerp{
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
}

.orderwrapperp{
    width: 80%;
    height: 100%;
    background-color: #FFFEFB;
    border-radius: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.ordertitlep{
    display: flex;
    justify-content: space-between;
}

.ordertitlep > div{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 4px;
}

.ordertitlep > div > img{
    width: 24px;
    height: 24px;
}

.ordertitlep > div > p{
    font-size: 18px;
    color: black;
    font-weight: 400;
}

.ordertitlep > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 24px;
    background: inherit; 
    border:none; 
    box-shadow:none; 
    border-radius: 8px;
    background-color: #FF8904;
    color: white;
}
.ordersandwichcontainerp{
    width: 100%;
    height: 280px;
    overflow-y: scroll;
}

.ordercontentp{
    width: 100%;
    height: 120px;
    background-color: #F5F5F5;
    border-radius: 16px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 16px;
    position: relative;
}

.ordertrashp{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
}

.ordercontentp > p:first-child{
    font-size: 18px;
    font-weight: 300;

}

.ordercontentp > p:nth-child(2){
    font-size: 12px;
    color: black;
    opacity: 0.4;
    margin: 12px 0px 12px 0px;
}

.orderquantityp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderquantityp > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 36px;
    background-color: #FFFEFB;
    border-radius: 8px;
}

.orderquantityp > div:last-child{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
}

.orderquantityp > div:last-child > p:first-child{
    font-size: 12px;
    color: black;
    opacity: 0.4;
}

.orderquantityp > div:last-child > p:last-child{
    font-size: 18px;
    color: #FF8904;
}

.quantityminusp{
    position: absolute;
    left: 12px;
    font-size: 24px;
    top: auto;
    cursor: pointer;
}

.quantityplusp{
    position: absolute;
    right: 12px;
    top: auto;
    cursor: pointer;
}

.orderlinep{
    width: 100%;
    height: 0px;
    border: 1px solid #F5F5F5;
}

.payfinish{
    font-size: 24px;
    color: green;
    margin-top: 19px;
    text-align: center;
    font-weight: bold;
}

.paycontainerp{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0px 12px 0px;
}

.productpricep{
    display: flex;
    justify-content: space-between;
}

.productpricep > p{
    font-weight: 300;
}

.deliverpricep{
    display: flex;
    justify-content: space-between;
}

.deliverpricep > p:first-child{
    font-weight: 300;
}

.deliverpricep > p:last-child{
    color: #FF8904;
}

.totalpricep{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.totalpricep > p:last-child{
    color: #FF8904;
}

.addresswrapperp{
    width: 80%;
    height: 100%;
    background-color: #FFFEFB;
    border-radius: 24px;
    padding: 24px 24px 26px 24px;
    box-sizing: border-box;
}

.addresstitlep{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 4px;
    margin-bottom: 18px;
}

.addresstitlep > p{
    font-size: 18px;
}

.deliverinfop{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.deliverinfop > p{
    font-size: 16px;
    font-weight: 300;
}

.deliverrequestp{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.deliverrequestp > p{
    font-size: 16px;
    font-weight: 300;
}

.deliverinfop > input{
    width: 100%;
    height: 36px;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid #d9d9d9;
    padding: 6px;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.deliverinfop > input:focus{
    outline: none;
}

.delivermessagep{
    background: inherit;
    background-color: white;
    font-family: inherit;
    box-shadow: none;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 6px 0px 0px 6px;
    box-sizing: border-box;
    resize: none;
}

.delivermessagep:focus{
    outline: none;
}

.finalorderbuttonp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: inherit; 
    border:none; 
    box-shadow:none;
    border-radius: 8px;
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    color: white;
    margin-top: 21.5px;
    cursor: pointer;

}

.checkdeliverspotp{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: inherit; 
    border:none; 
    box-shadow:none;
    border-radius: 8px;
    background: linear-gradient(90deg, #00c524 0%, #3ceb5c 100%);
    color: white;
    margin-top: 21.5px;
    cursor: pointer;
}

.finalorderbuttonp:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.changenameinputp{
    background-color: white !important;
}

@media (max-width : 768px){
    .orderpaywrapperp > div > p{
    font-size: 18px;
    color: #7C290C;
    }
    .ordercontentp{
        height: 100px;
    }

    .ordercontentp > p:first-child{
        font-size: 14px;
    }
    .ordercontentp > p:nth-child(2){
    font-size: 10px;
    margin: 8px 0px 8px 0px;
    }
    .orderquantityp > div:last-child > p:first-child{
    font-size: 8px;
    }

    .orderquantityp > div:last-child > p:last-child{
    font-size: 14px;
    }

    .orderquantityp > div:first-child{
        width: 60px;
        height: 24px;
    }

    .quantityminusp{
        left: 8px;
        margin-top: -4px;
    }
    .quantityplusp{
        right: 8px;
        margin-top: -3px;
    }
    .deliverpricep > p{
        font-size: 14px;
    }

    .productpricep > p{
        font-size: 14px;
    }

    .totalpricep > p{
        font-size: 14px;
    }

    .finalorderbuttonp{
        height: 40px;
    }

    .deliverinfop > p{
        font-size: 12px;
    }

    .deliverinfop > input{
        height: 28px;
    }

    .deliverrequestp > p{
        font-size: 12px;
    }

    .addresswrapperp{
        padding: 12px 12px 8px 12px;
        border-radius: 16px;
    }

    .orderwrapperp{
        padding: 12px;
        border-radius: 16px;
    }
    
}

@media (max-width : 426px){
    
    .addresswrapperp{
        width: 100%;
        position: fixed;
        right:0px;
        top: 17%;
        border-radius: 16px;
        padding: 12px;
        max-height: 0;
        opacity: 0;
        z-index: 100;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
    }
    .addresswrapperp.open {
        max-height: 100vh;
        opacity: 1;
        
    }

    .orderwrapperp{
        width: 100%;
    }

    .orderpaywrapperp > div > p{
        margin-left: 6px;
    }

    .orderpaywrapperp{
        padding: 12px 12px 12px 12px;
        width: 100%;
        gap: 14px;
    }

    .orderaddresscontainerp{
        width: 100%;
        flex-direction: row;
        gap: 0px;
        min-height: calc(100vh - 60px);
    }

    .orderpaywrapperp > div:first-child > div{
        display: flex;
    }

    .checkdeliverspotp{
        display: flex;
        height: 40px;
    }
}


