.reviewmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 51%;
    min-height: 1050px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reviewhead{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    background-color: #DEA88B;
    border-radius: 15px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 100px;
}
.reviewmain>p{
    width: 26%;
    font-size: 20px;
    position: relative;
    right: 10%;
    transform: translateX(-100%);
    
    color: #000000;
    
}

.reviewhead2{
    width: 90%;
    height: 110px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    color: #DEA88B;

}

.reviewhead2>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.review{
    width: 90%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.reviewcard{
    width: 100%;
    min-height: 250px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DEA88B;
    border-radius: 15px;
    
}

.reviewcard2{
    width: 95%;
    min-height: 170px;
    height: auto;
    padding: 10px 0px 0px 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 15px;
    font-size: 18px;
    color: #000000;
}

/* .reviewcard2 :nth-child(2){
    border-bottom: 1px solid #DEA88B;
    padding-bottom: 10px;
    box-sizing: border-box;
} */

.reviewcard2 :nth-child(3){
    
    margin-bottom: 20px;
    
}

.spoint{
    width: 95%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
}



.reviewtxt{
    width: 95%;
    min-height: 170px;
    height: auto;
    border: 3px solid #ffffff;
    border-radius: 15px;
    resize: none;
    text-align: start;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.spoint>p{
    background-color: #DEA88B;
    color: #ffffff;
    
    font-size: 27px;
    margin-right: 10px;
    
    

}

.spointbu{
    width: 95%;
    display: flex;
    
    align-items: center; 
    margin-bottom: 10px;
}



.reviewcard>button{
    
    background-color: #DEA88B;
    color: #ffffff ;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    
}

.selectspoint{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEA88B;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 18px;
    margin-right: 10px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 5px;
}

.selectspoint:hover{
    background-color: #ffffff;
    color: #DEA88B;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
}

.selectspoint.active{
    background-color: #ffffff;
    color: #DEA88B;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 8px;
}

.pagination button {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: white;
}

.pagination button.activePage {
    background: black;
    color: white;
    
}

.reviewtext{
    white-space: pre-wrap;
}

.nm{
    display: flex;
    gap: 5px;
    
}

.dt{
    width: 98%;
    font-size: 13px;
    border-bottom: 1px solid #DEA88B;
    padding-bottom: 10px;
    box-sizing: border-box;
}


@media (max-width: 1100px){
   .reviewmain{
    width: 100%;
    margin: 0px;
   }
   
   .selectspoint{
    width: 5%;
    height: 20px;
    font-size: 10px;
   }
}

