.signupmodal{
    position: absolute;
    width: 448px;
    height: 680px;
    background-color: #FFFEFB;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items : center;
}
.signupform{
    width: 100%;
}
.signupheader{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 64px;
    background : linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    font-size: 24px;
    color: white;
    border-radius: 16px 16px 0px 0px;
}

.signupheader > img{
    width: 16px;
    height: 16px;
    position: absolute;
    top : 24px;
    right: 45px;
    opacity: 0.6;
    cursor: pointer;
}
.signupcontainer{
    display: flex;
    gap: 6px;
}

.signupcontent{
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
}

.signupform > button{
    display: block;
    width: 100%;
    height: 48px;
    background: inherit; 
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    border:none; 
    box-shadow:none; 
    border-radius: 8px; 
    cursor:pointer;
    margin-top: 12px;
    color: white;
}

.signupform > p{
    color: black;
    margin-bottom: 6px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
}

.signupform > input{
    width: 100%;
    height: 42px;
    margin-bottom: 12px;
    padding-left: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #D9D9D9;
}

.signupform > input:focus{
    outline: none;
}

.signupform > div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-bottom: 6px;
    
    
}

.signupform > div > p{
    color: black;
    font-size: 14px;
    font-weight: 300;
}

.signupform > div > button{
    background: inherit; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer;
    font-weight: 300;
}



