.signupmodal{
    position: absolute;
    width: 448px;
    height: 640px;
    background-color: #FFFEFB;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}


.signupwrapper > a > img{
    width: 32px;
    height: 32px;
    position: relative;
    
}

.signupwrapper{
    display: flex;
    align-items: center;
    padding: 0px 38%;
    box-sizing: border-box;
    background-color: #FEFAEA;
    min-height: 100vh;
}


.signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items : center;
    background-color: #FFFEFB;
    border-radius: 16px;
    
}
.signupform{
    width: 100%;
}
.signupheader{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    background : linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    font-size: 24px;
    color: white;
    border-radius: 16px 16px 0px 0px;
}


.signupheader > img{
    width: 32px;
    height: 32px;
}
.signupcontainer{
    display: flex;
    gap: 6px;
}

.signupcontent{
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
}

.signupform > button{
    display: block;
    width: 100%;
    height: 48px;
    background: inherit; 
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    border:none; 
    box-shadow:none; 
    border-radius: 8px; 
    cursor:pointer;
    margin-top: 12px;
    color: white;
    margin-bottom: 12px;
}

.signupform > p{
    color: black;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 300;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 4px;
}

.signupform > div > p{
    margin-top: 6px;
    margin-bottom: 4px;
}


.signupform > input{
    width: 100%;
    height: 30px;
    padding-left: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #D9D9D9;
}

.signupform > input:focus{
    outline: none;
}

.passwordeye{
    width: 100%;
    height: 30px;
    position: relative;
    
}

.passwordeye > input{
    width: 100%;
    height: 100%;
    padding-left: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #D9D9D9;
}


.passwordeye > :focus{
    outline: none;
}

.passwordeye > img{
    position: absolute;
    top: 15%;
    right: 8px;
    opacity: 0.7;
    cursor: pointer;
}



.signupform > div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    
}

.signupform > div > p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    margin-left: 2px;
}

.signupform > div > button{
    width: 60px;
    height: 20px;
    background: inherit; 
    border:none; 
    box-shadow:none; 
    border-radius: 8px; 
    padding:0; 
    overflow:visible; 
    cursor:pointer !important;
    font-weight: 400;
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    color: white;
    font-size: 12px;
}

.signupform > div:last-child{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.signupform > div:last-child > a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 14px;
}

.postcodeContainer{
    width: 448px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 12px;
    z-index: 9998;
}





.inputwrapper > div{
    
    width: 100%;
    height: 30px;
    position: relative;
    
}

.inputwrapper > div > input{
    width: 100%;
    height: 30px;
    padding: 6px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #D9D9D9;
}

.inputwrapper > div > input:focus{
    outline: none;
}
.inputwrapper > div > button{
    position: absolute;
    top: 4px;
    right: 6px;
    width: 60px;
    height: 20px;
    background: inherit; 
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    border:none; 
    box-shadow:none; 
    border-radius: 8px; 
    cursor:pointer;
    color: white;
    font-size: 12px;
}

.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9990;
}

.custom-modal {
    width: 450px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    animation: modalFloat 0.25s ease-out;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 9997;
}

.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    z-index: 9997;
}

.custom-modal-header > span{
    color: white;
    font-size: 18px;
    
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


@keyframes modalFloat {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media(max-width:1024px){
    .signupwrapper{
        padding: 0px 30%;
    }
}

@media(max-width : 768px){
    .signupwrapper{
        padding : 8px 25%;
    }
}



@media(max-width : 426px){

    .signupheader{
        border-radius: 0px;
    }

    

    .signupwrapper{
        padding: 0px;
        min-height: 0;
    }

    .signupform > div > button{
        width: 60px;
        height: 20px;
        font-size: 12px;
    }

    .signupform > input{
        height: 32px;
    }

    .signupform > div > input{
        height: 32px;
    }

    .signupform > div > div > input{
        height: 32px;
    }

    .signupform > p{
        margin-top: 12px;
        margin-bottom: 6px;
    }

    .signupform > div > p{
        margin-top: 12px;
        margin-bottom: 6px;
    }
    .signupform > button{
        margin : 24px 0px 12px 0px !important;
    }

    

}