.userinfomain{
    width: 100%;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
    background-color: #FEFAEA;
}

.userinfotitle > p{
    font-size: 24px;
    color: #7C290C;
    font-weight: 400;
}

.userinfotitle > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.userinfotitle > div > p{
    font-size: 16px;
    color: #F54A00;
    font-weight: 400;
}



.edit-btn{
        display: inline-flex;
        align-items: center;
        gap: 6px;
        width: 100px;
        height: 32px;
        background: inherit; 
        background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
        border:none; 
        box-shadow:none; 
        border-radius: 8px; 
        cursor:pointer;
        margin-top: 12px;
        color: white;
        font-size: 14px;
    }

    .edit-confirm-btn{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 60px;
        height: 32px;
        background: inherit; 
        background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
        border:none; 
        box-shadow:none; 
        border-radius: 8px; 
        cursor:pointer;
        margin-top: 12px;
        color: white;
        font-size: 14px;
    }

.userinfotitle > div > button > img{
    width: 16px;
    height: 16px;
}

.myinfo{
    width: 100%;
    border: 3px solid #FFEDD4;
    border-radius: 16px;
    background-color: #FFFEFB;
    margin-top: 16px;
    padding: 12px 24px 24px 24px;
    box-sizing: border-box;
}


.myinfo > div:first-child{
    display: flex;
    align-items: center;
}

.myinfo >  div:first-child > p{
    font-size: 18px;
    color: #7C290C;
    margin-bottom: 12px;
    margin-top: 8px;
    margin-left: 4px;
}

.myinfodetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.infocomponent{
    display: flex;
    align-items: center;
    gap: 2px;
}

.infocomponent > img{
    width: 24px;
    height: 24px;
}


.infocomponent > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infocomponent > div > button{
    display: block;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 24px;
    background: inherit; 
    background: linear-gradient(90deg, #FF6B00 0%, #FE9800 100%);
    border:none; 
    font-size: 12px;
    box-shadow:none; 
    border-radius: 8px; 
    cursor:pointer;
    color: white;
}

.infocomponent > p{
    color: #F54A00;
}

.infocomponent > div > p{
    color: #F54A00;
}

.myinfodetail > div > input{
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #FEFAEA;
    margin-top: 4px;
    padding-left: 12px;
    box-sizing: border-box;
    font-weight: 300;
}

.userinfoeye{
    width: 100%;
    height: 36px;
    position: relative;
    margin-top: 4px;
}

.userinfoeye > input{
    width: 100%;
    height: 36px;
    padding-left: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    background-color: #FEFAEA;
}

.userinfoeye > img{
    position: absolute;
    top: 30%;
    right: 12px;
    opacity: 0.7;
    cursor: pointer;
}

.userinfoeye > :focus{
    outline: none;
}

.edit-username-input{
    background-color: #d9d9d9 !important;
}

.myinfodetail > div > input:focus{
    outline: none;
}

.deleteaccount{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 6px;
}

.deleteaccount > p{
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    color: #7C290C;
}

.orderinfo{
    width: 100%;
    height: 400px;
    background-color: #FFFEFB;
    border: 3px solid #FFEDD4;
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 24px 24px;
    box-sizing: border-box;
    margin-bottom: 80px;
    margin-top: 40px;
}

.orderinfo > p:first-child{
    font-size: 18px;
    color: #7C290C;
    margin-bottom: 12px;
    margin-top: 8px;
    margin-left: 4px;
}

.orderlist > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 2px solid #FFEDD4;
    background-color: #FEFAEA;
    border-radius: 16px;
    padding: 16px 16px 16px 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.orderlist > div > div{
    display: flex;
    align-items: center;
    gap: 16px;
}

.ordernumber{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #F54A00;
}

.ordercomponent{
    display: flex;
    gap: 8px;
}

.ordercomponent > button{
    display: block;
    width: 120px;
    height: 30px;
    color: #F54A00;
    border:none; 
    box-shadow:none; 
    border-radius: 8px;
    background: inherit;
    background-color: #FFFEFB;
    border: 1px solid #FFEDD4 ;
}

.deliverstatusing > p{
    color: #7C290C;
}

.deliverstatusing > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 28px;
    border:none; 
    box-shadow:none; 
    border-radius: 8px;
    background: inherit;
    background-color: #FFE9B3;
    color: #D29A00;
}

.deliverstatus > p{
    color: #7C290C;
}

.deliverstatus > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 28px;
    border:none; 
    box-shadow:none; 
    border-radius: 8px;
    background: inherit;
    background-color: #C6F0D6;
    color: #3CA366;
}

.dorodetailcontainer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dorodetailcontainer > div{
    width: 100%;
}

.dorodetailcontainer > div > input{
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #FEFAEA;
    margin-top: 4px;
    padding-left: 12px;
    box-sizing: border-box;
    font-weight: 300;
}
.dorodetailcontainer > div > input:focus{
    outline: none;
}


.error-text {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 6px;
}
@media (max-width: 768px){
    

    .infocomponent > p{
        font-size: 12px;
    }

    .infocomponent > img{
        width: 16px;
        height: 16px;
    }

    .myinfodetail > div > input{
        height: 24px;
    }

    .myinfodetail{
        gap: 16px;
    }

    .ordercomponent{
        gap: 4px;
    }
    .ordercomponent > button{
        width: 50px;
        height: 24px;
        font-size: 12px;
    }

    .deliverstatusing > p{
        font-size: 12px;
    }
    .deliverstatusing > button{
        width: 50px;
        height: 24px;
        font-size: 12px;
    }

    .deliverstatus > p{
        font-size: 12px;
    }

    .deliverstatus > button{
        width: 58px;
        height: 24px;
        font-size: 12px;
    }

    .dorodetailcontainer {
        flex-direction: column;
    }

    .dorodetailcontainer > div > input{
        height: 24px;
    }
    .infocomponent > div > button{
        width: 60px;
        height: 24px;
        font-size: 12px;
    }

    .infocomponent > div > p{
        font-size: 12px;
    }

}

@media (max-width : 426px){

    .userinfomain{
        padding: 12px 8px 12px 8px;
    }

    .userinfotitle > p{
        font-size: 18px;
    }
    .userinfotitle > div > p{
        font-size: 12px;
        line-height: 1.2; 
        width: 65%;  
    }

    .userinfotitle > div > button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 20px;
        font-size: 10px;
    }
    

    .userinfotitle > div > button > img{
        width: 12px;
        height: 12px;
    }

    .orderinfo > p{
        font-size: 18px;
    }

    .ordernumber > p{
        font-size: 8px;
    }

    .orderlist > div > div{
        gap: 4px;
    }

    .ordercomponent > button{
        width: 40px;
        height: 20px;
        font-size: 8px;
    }

    .ordercomponent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2px;
    }

    .deliverstatusing{
        display: flex;
        flex-direction: column;
    }

    .deliverstatusing > p{
        font-size: 12px;
    }

    .deliverstatusing > button{
        width: 50px;
        height: 20px;
        font-size: 12px;
    }

    .deliverstatus{
        display: flex;
        flex-direction: column;
    }

    .deliverstatus > p{
        font-size: 12px;
    }
    .deliverstatus > button{
        width: 58px;
        height: 20px;
        font-size: 12px;
    }

    .deleteaccount > p{
        font-size: 12px;
    }

    .infocomponent > div > button{
        width: 32px;
        height: 16px;
        font-size: 8px;
        font-weight: 300;
        border-radius: 4px;
    }

    .infocomponent > div > p{
        font-size: 12px;
    }

    .edit-btn{
        width: 70px !important;
        height: 24px !important;
    }

    .edit-confirm-btn{
        width: 70px !important;
        height: 24px !important;
    }
}

